<div class='container'>
<button type="button" mat-raised-button=" "class='predict_try' (click)="Get_Deaults()">GET Defaults</button>
<button type="button" mat-raised-button=" "class='predict_try' (click)="Get_Existing_Config()">GET Existing Config</button>

<br>
<form class="formwidth" (ngSubmit)="set_config()" #myForm="ngForm">

  <mat-form-field>
       <textarea matInput  placeholder="add your config" mat-minlength="50"  [formControl]="config_add" required name="config"></textarea>
       <mat-error *ngIf="config_add.invalid">please enter your configuration be seeing default config</mat-error>
  </mat-form-field>

<button type="submit" mat-raised-button="">Submit</button>
</form>

</div>
