<div class="container">


  <form class="formwidth extra_form" [hidden]="!dataSource" (ngSubmit)="add_updated_doc()" #docForm="ngForm">
    <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    </div>


    <mat-table #table [dataSource]="dataSource">

     <ng-container matColumnDef="doc_viewed">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

     <ng-container matColumnDef="res_or_no" >
        <mat-header-cell *matHeaderCellDef> Res or Not </mat-header-cell>
      <mat-cell *matCellDef="let row">
      <mat-radio-group [disabled]= "!selection.isSelected(row)">
        <mat-radio-button [value]="true"  (click)="checkResponsive(row,true)">Responsive</mat-radio-button>
        <mat-radio-button [value]="false" (click)="checkResponsive(row,false)">Non-responsive</mat-radio-button>
      </mat-radio-group>
      </mat-cell>
    </ng-container>


     <!-- Name Column -->
    <ng-container matColumnDef="doc_id">
      <mat-header-cell *matHeaderCellDef> Doc Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="tag">-->
      <!--<mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectionChange(row)">
    </mat-row>



  </mat-table>
    <mat-paginator #paginator
                  [length]= "length"
                     [pageSize]="pageSize"
                 [showFirstLastButtons]="true"
                     (page)="pageEvent = onPaginateChange($event)"

                      >
  </mat-paginator>

      <button mat-button class='button_try' >update me</button>

  </form>

  <div class="textbox_display">
    <div [hidden] ="!righttopper" class="border border-primary doc_display">{{righttopper}}</div>
     <div [hidden] ="!chartdata" class="border border-primary chart_display">
       <fusioncharts
    [id]="id"
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="chartdata"
></fusioncharts>

  </div>

</div>
</div>

 <button mat-button class='predict_try' (click)="predict_score()">Predict Score</button>

