.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.generate_ellusion{
  margin-bottom: 30px;
}

.button_try {background-color: green;
    margin-top: 25px;
    float: right;
}

.extra_form {
    display: inline-block;
    width: 60%;
}

.custom_table {
    padding: 8px;
    width: 249%;
}

.textbox_display{
  width: 38%;
  float: right;
  overflow: auto;
  background-color: white;
  margin: 0px;
  padding: 25px;
  max-height: 50%;
}

.doc_display{
  background-color: white;
  overflow: auto;
  height: 400px;

}
.chart_display{
  margin-top: 12px;
  height: 400px;
  overflow: auto;
  border-style: dashed;
}

.example-container {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  max-height: 100%;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

.mat-column-select {
  overflow: visible;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.predict_try {
  background-color: green;
  margin-top: 25px;
}

.simple {
  border-style: dashed;
}

