<h1>Create a Project</h1>
<p>please select index name and cal index name</p>

<!--<div class="input-group mb-3">-->
  <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text" id="basic-addon3">Enter your Index name</span>-->
  <!--</div>-->
  <!--<input type="text" [(ngModel)]="filter_name" class="form-control" id="basic-url" aria-describedby="basic-addon3" spellcheck="false">-->
<!--</div>-->

<!--<div class="input-group mb-3">-->
  <!--<ul [hidden]="!filter_name">-->
  <!--<li class="form-control" (click)="selected_menu(item)" *ngFor="let item of list_index | searchFilter:filter_name">-->
        <!--{{ item }}-->
  <!--</li>-->
<!--</ul>-->
<!--</div>-->

<form class="formwidth" (ngSubmit)="create_project()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
            <mat-select placeholder="Index_name">
                <mat-option (click)="selected_menu(Index_name)"  *ngFor="let Index_name of list_index" [value]="Index_name">{{Index_name}}</mat-option>
            </mat-select>
        </mat-form-field>

      </td>
      <td>
        <mat-form-field>
            <input type="text" placeholder="cal Index" matInput [formControl]="myControl_cal" required name="cal index" [matAutocomplete]="auto">
            <mat-error *ngIf="myControl_cal.invalid">please provide cal index name</mat-error>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of cal_index_list" [value]="option">
              {{ option }}
            </mat-option>
        </mat-autocomplete>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput="number" placeholder="ittrations" id="ittrations" [formControl]="myControl_itter" required [(ngModel)]="form_data.itter" name="ittrations">
          <mat-error *ngIf="myControl_itter.invalid">please provide itteration number</mat-error>
        </mat-input-container>

      </td>
    </tr>
  </table>
  <p>
    <button type="submit" mat-raised-button="">Submit</button>
  </p>
</form>



<button mat-button class='predict_try' (click)="delete_project()">Delete Project</button>

<!--<mat-form-field>-->
  <!--<mat-select placeholder="Index_name">-->
    <!--<mat-option (click)="selected_menu(Index_name)" *ngFor="let Index_name of list_index" [value]="Index_name">{{Index_name}}</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->


